@font-face {
  font-family: "Prompt";
  src: url(/fonts/Prompt-Bold.ttf) format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Prompt";
  src: url(/fonts/Prompt-Light.ttf) format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Prompt";
  src: url(/fonts/Prompt-Medium.ttf) format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Prompt";
  src: url(/fonts/Prompt-SemiBold.ttf) format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Regular.ttf) format("ttf");
  font-weight: 400;
}
