.slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  margin: 0 auto 27px;
  padding: 0 10px;
}

.slider__custom {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.swiper-wrapper {
  box-sizing: content-box;
}

.swiper-slide {
  display: flex;
}

.slide {
  position: relative;
  padding-bottom: 20px;
}

.slide__text {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.63);
  backdrop-filter: blur(5px);
  border: 1px solid #5e5e5e;
  padding: 19px 24px 15px;
  bottom: 0;
  left: 13px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.slide__text-title {
  font-size: 1rem;
}

.slide__text-title p {
  margin: 0;
  color: #fff;
  filter: drop-shadow(0 0 5px #000000);
  line-height: 23px;
  letter-spacing: 1.6px;
}

.slide__text-link {
  text-decoration: none;
  color: #0568c3;
  font-size: 14px;
  position: relative;
  line-height: 20px;
  letter-spacing: 1.8px;
}

.slide__text-link::before,
.slide__text-link::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background: #0568c3;
  transform: rotate(45deg);
  left: 95px;
  top: 6px;
}

.slide__text-link::before {
  transform: rotate(-45deg);
  top: 12px;
}

.swiper-slide img {
  max-width: 100%;
  width: 100%;
  max-width: 520px;
  max-height: 300px;
  height: auto;
  object-fit: cover;
}

.swiper-button-prev {
  left: -3px;
  top: var(--swiper-navigation-top-offset, 48%);
}

.swiper-button-next {
  right: -3px;
  top: var(--swiper-navigation-top-offset, 48%);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -30px;
}
.swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 0%;
}

@media only screen and (min-width: 560px) {
  .slider {
  }
}

@media only screen and (min-width: 1080px) {
  .slider {
    max-width: 1750px;
    padding: 0 55px;
  }
  .slider__custom {
    max-width: 1710px;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -40px;
  }

  .slide__text {
    right: auto;
    left: 19px;
    padding: 20px 20px 19px 25px;
  }

  .slide__text p {
    line-height: 23px;
    letter-spacing: 3.2px;
  }

  .slide__text-title {
    display: flex;
  }
}
