* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif;
}

.wrapper {
  padding: 40px 10px 72px;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 65px;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 0.1px;
  line-height: 148%;
  font-weight: 500;
  color: #444444;
  text-transform: uppercase;
  margin: 3px 0 26px;
}

/* ----------- links -------------------*/

.links {
  width: 100%;
  padding: 0 10px;
}

.links__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.link__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.links__link {
  padding-bottom: 6px;
  height: 100%;
  max-width: 800px;
  width: 100%;
}

.links__link img {
  height: 100%;
  width: 100%;
}

.link__text {
  border: none;
  backdrop-filter: blur(15px);
  padding: 19px 25px 14px 40px;
  left: 15px;
  right: 14px;
}

.link__text p {
  letter-spacing: 0.5px;
  line-height: 110%;
  font-weight: 600;
}

@media only screen and (min-width: 560px) {
  .link__block {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
}

@media only screen and (min-width: 1080px) {
  .wrapper {
    padding: 70px 47px 110px;
  }
  h1 {
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 45px;
  }
  .main {
    gap: 63px;
  }
  .links {
    padding-top: 27px;
  }
  .links__wrapper {
    gap: 28px;
  }

  .link__text {
    right: auto;
    left: 26px;
  }
  .links__link {
    padding-bottom: 20px;
  }
  .links__link img {
    max-height: 444px;
  }
  .link__text p {
    letter-spacing: 1.1px;
    line-height: 60%;
    font-weight: 600;
    font-size: 22px;
  }
  .link__text-title {
    flex-direction: column;
    gap: 5px;
  }
}

@media only screen and (min-width: 1300px) {
  .link__text {
    padding: 35px 40px 30px;
  }
  .link__text-title {
    flex-direction: row;
    gap: 0;
  }
}
